{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}

<main>
    <div>
        <h1>Library</h1>
        <div style="margin: 2em;">
            <div
                style="border-radius: 0.5em;border: 0.2px solid black;background-color: #116811;padding: 2px;box-shadow: 8px 5px 15px 2px black;">
                <form method="post" data-turbo ='false' enctype="multipart/form-data" style="border: none;box-shadow:none;">
                    <fieldset>
                        <table style="width: 100%;">
                            <tr>
                                <th>
                                    <div class="text-area">

                                        <input type="text" name="isbn" placeholder="isbn" maxlength="10"
                                            value="{{book.isbn}}">

                                        <div class="counter" id="counter">10</div>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <div class="text-area">
                                        <input type="text" name="title" placeholder="title" maxlength="250"
                                            value="{{book.title}}">
                                        <div class="counter" id="counter">250</div>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <div class="file-selection">
                                        {% if book.image != null %}
                                        <label class="file-selection-label" for="image"
                                            style="font-size: 1.3rem;">Choose new image</label>
                                        {% else %}
                                        <label class="file-selection-label" for="image">Choose image</label>
                                        {% endif %}


                                        <input style="max-width: 430px;" type="file" id="image" name="image"
                                            accept="image/*">

                                        {% if book.image != null %}
                                        <span class="file-name" id="file-name"
                                            style="font-family: cursive;font-size: 1rem;margin-right: 5px;">{{book.image}}</span>
                                            <label class="file-selection-label-clear"
                                            style="display: inline-block;" id="clear">❌</label>
                                        {% else %}
                                        <span class="file-name" id="file-name" data-previous="{{book.image}}" style="margin-right: 15px;">No image
                                            selected</span>
                                        {% endif %}

                                        <label class="file-selection-label-clear"
                                            style="display: none;" id="clear">❌</label>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <div class="text-area">
                                        <input type="text" name="author" placeholder="author" maxlength="250"
                                            value="{{book.author}}">
                                        <div class="counter" id="counter">250</div>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <div class="text-area">
                                        <textarea id="summary" style="height: 100px;" name="summary"
                                            placeholder="summary" maxlength="500">{{book.description}}</textarea>
                                        <div class="counter" id="counter">500</div>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th>

                                    <div class="text-area">
                                        <textarea id="plot" name="plot" placeholder="plot"
                                            maxlength="5000">{{book.plot}}</textarea>
                                        <div class="counter" id="counter">5000</div>
                                    </div>

                                </th>
                            </tr>

                            </tr>
                            <tr>
                                <table style="width: 100%;">
                                    <tr>
                                        <th> <input class="table_button" type="submit" name="back" value="back">
                                        </th>
                                    </tr>
                                    <tr>
                                        <th> <input class="table_button" type="submit" name="save-book"
                                                value="save changes">
                                        </th>
                                    </tr>
                                </table>
                            </tr>
                        </table>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</main>


{% endblock %}

{% block script %}

<script language="javascript" type="text/javascript">

    document.querySelectorAll('.text-area').forEach(doc => {
        console.log("" + doc);
        var text = doc.querySelector("textarea");
        if (text == null)
            text = doc.querySelector("input");

        const counter = doc.querySelector(".counter");
        const max = text.maxLength;

        const update = () => {
            const remaining = max - text.value.length;
            counter.textContent = remaining;
        };
        update();
        text.addEventListener('input', update);
    });

    const fileInput = document.getElementById('image');
    const displayName = document.getElementById('file-name');
    const image = displayName.dataset.previous || null;
    const clear = document.getElementById('clear');

    fileInput.addEventListener('change', () => {
        const file = fileInput.files[0];
        if (file != null)
            displayName.textContent = file.name;
        else
            displayName.textContent = image ?? "No image selected";

        if (file != null || image != null)
            clear.style.display = 'inline-block';
        else {
            clear.style.display = 'none';
        }
    });

    clear.addEventListener('click', () => {
        fileInput.value = '';

        displayName.textContent = image ?? "No image selected";
        clear.style.display = 'none';
    });

</script>

{% endblock %}