{% extends 'proj/heders/base-proj.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}

<main>
    <div>
        <h1>API</h1>
        <div style="display: flex;justify-content: center;">
            <div style="display: flex; max-width: 55%;">
                {{ form_start(form) }}
                <div class="form_style">
                    {{ form_row(form.all_data) }}
                    {{ form_row(form.wild_data) }}
                    {{ form_row(form.emissions) }}
                    {{ form_row(form.temp) }}
                    {{ form_row(form.temp_with_year) }}
                    {{ form_row(form.wildfires_with_year) }}
                    {{ form_row(form.emission_with_year) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</main>

{% endblock %}