{% extends 'proj/heders/base-proj.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}

<main>
    <div>
        <h1>API</h1>
        {{ form_start(form) }}
        <div class="form_style" >
            {{ form_row(form.all_data) }}
            {{ form_row(form.wild_data) }}
            {{ form_row(form.emissions) }}
        </div>
        {{ form_end(form) }}
    </div>
</main>

{% endblock %}