{% extends 'proj/heders/base-proj.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}

<main>
    <div>
        <h1>Home</h1>
        <div style="margin: 2em;">
            <p>a fair warning, I'm not responsible for the correctness, you get green fingers, mentdown or other fysical
                or mental demages. When you reading the chart of data. The diffrent colors is not directly or indirectly
                linked to each other. Even if all values have some links to the climate changes, it does not mean they
                all achually is linked. So stay cassius about the data you see on the internet. 
            </p>
            <p>hang tight this page will be updated soon I hope.
                Some more shit below.
            <p>

        </div>
        <div class="chart-stat">

            <div class="marking"></div>
            <div class="marking_text">50%</div>

            {%for obj in stats %}
            <div class="bar-group">
                <div class="bar-wrap">
                    <div class="bar" title="Average global temp: {{ obj.temp_n }}" style="height: {{ obj.temp }}%;">
                        <div>
                            <p>{{obj.temp_n }}</p>
                        </div>
                    </div>
                    <div class="bar" title="Average amount of wildfires: {{ obj.wildfires }}"
                        style="height: {{ obj.wildfires_n }}%;">
                        <div>
                            <p>{{obj.wildfires }}</p>
                        </div>
                    </div>
                    <div class="bar" title="Per capita CO₂ emissions: {{ obj.emission}} t" style="background-color: {{ obj.emission is same as( 'NaN') ? 'green' : none}}; 
                        height: {{ obj.emission is same as('NaN') ? 10 : obj.emission_n}}%;">
                        <div>
                            <p>{{obj.emission }}</p>
                        </div>
                    </div>
                </div>
                <div class="year">{{obj.year }}</div>
            </div>
            {%endfor%}
        </div>
    </div>
</main>

{% endblock %}