{% extends 'proj/heders/base-proj.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}

<main>
    <div>
        <h1>Home</h1>
        <div style="margin: 2em;">
            <p>A fair warning: I’m not responsible for any correctness, green fingers, meltdowns, or other physical or
                mental damages that may occur while you’re reading this chart of data. The different colors are not
                directly or indirectly linked to each other, much like my attempts at cooking.

                Even if all values have some connection to climate change, it does not mean they are all actually
                linked. So, please remain cautious about the data you see on the internet—after all, not everything you
                read online is true, including this disclaimer!
            </p>
            <h4>Info about the stats</h4>
            <div class="list-style-wraper">
                <ul class="list-style">
                    <li>
                        <h3>The first bar:</h3>
                        <p> This bar illustrates the average global temperature over the Earth. The average
                            temperature is approximately 0.5 degrees Celsius above the normal average. It utilizes
                            baseline temperature data from the period of 1850 to 1900. The chart presents data from the
                            last 10 years, revealing minimal dramatic changes, with the exception of the most recent
                            year, which indicates a significant deviation.
                        <p>
                    </li>
                    <li>
                        <h3>The second bar:</h3>
                        <p> This bar illustrates the number of wildfires recorded on a year-to-year basis. While
                            comprehensive global statistics are not readily available, the data appears to be more
                            focused on the United States. The trend does not solely correlate with average temperature.
                            However, each year, the Earth becomes warmer, arid regions experience increasing heat, and
                            wetter areas receive more rainfall. This ongoing trend elevates the risk of wildfires each
                            year.
                        <p>
                        <p>
                            Sorces: <a href="https://www.bbc.com/news/science-environment-58073295" target="_blank">How
                                climate change worsens heatwaves, droughts, wildfires and floods</a>
                        </p>
                    </li>
                    <li>
                        <h3>The third bar:</h3>
                        <p> This bar displays the estimated average pollution per person on Earth, measured in tons.
                            This figure is a contributing factor to the annual rise in global temperatures. However, it
                            is not conclusive evidence. Other factors, such as volcanic eruptions, also produce
                            significant amounts of pollution.
                        </p>
                    </li>
                    <li>
                        <h3>Conclusions</h3>
                        <p> As this chart shows the numbers, I have made some adjustments so the bars are inside the
                            chart and clearly visible. As stated before, I can't just say the bars are connected, they
                            are more for displaying the database working, as I don't understand the assignment. I know I
                            should use some relation between tables, that was clear. However, I am unsure how that
                            should be applied, and the suggestions regarding the global goals were not clear. The other
                            options would take even more time to create something that actually works, especially since
                            not knowing the rules for blackjack and adventure games will take me several months to
                            figure out.
                        </p>
                    </li>
                </ul>
            </div>
            <p>
            <p>

        </div>
        <div class="chart-stat">

            <div class="marking"></div>
            <div class="marking_text">50%</div>

            {%for obj in stats %}
            <div class="bar-group">
                <div class="bar-wrap">
                    <div class="bar" title="Average global temp: {{ obj.temp_n }}" style="height: {{ obj.temp }}%;">
                        <div>
                            <p>{{obj.temp_n }}</p>
                        </div>
                    </div>
                    <div class="bar" title="Average amount of wildfires: {{ obj.wildfires }}"
                        style="height: {{ obj.wildfires_n }}%;">
                        <div>
                            <p>{{obj.wildfires }}</p>
                        </div>
                    </div>
                    <div class="bar" title="Per capita CO₂ emissions: {{ obj.emission}} t" style="background-color: {{ obj.emission is same as( 'NaN') ? 'green' : none}}; 
                        height: {{ obj.emission is same as('NaN') ? 10 : obj.emission_n}}%;">
                        <div>
                            <p>{{obj.emission }}</p>
                        </div>
                    </div>
                </div>
                <div class="year">{{obj.year }}</div>
            </div>
            {%endfor%}
        </div>
    </div>
</main>

{% endblock %}