<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
    {% endblock %}
    <link rel="stylesheet" href="./public/styles/style-proj.css">
    <link rel="stylesheet" href="../public/styles/style-proj.css">
    <link rel="stylesheet" href="{{ asset('/styles/style-proj.css') }}">

    {% block javascripts %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<header>
    <nav>
        <span>
            <a href="{{path('proj')}}"
                class="{% if app.request.attributes.get('_route') == 'proj' %}active{% endif %}">Home</a>
        </span>
        <span>
            <a href="{{path('about_proj')}}"
                class="{% if app.request.attributes.get('_route') == 'about' %}active{% endif %}">About</a>
        </span>
        <span>
            <a href="{{path('api_proj')}}"
                class="{% if app.request.attributes.get('_route') == 'api_proj' %}active{% endif %}">Api</a>
        </span>
    </nav>
</header>

<body>
    {% block body %}{% endblock %}
    {% include 'proj/heders/footer-proj.html.twig' %}
    {% block script %}{% endblock %}
</body>




</html>