<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
    {% endblock %}
    <link rel="stylesheet" href="./styles/style.css">


    {% block importmap %}
    {{ importmap('app') }}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}


</head>

<body>
    <header>
        <nav>
            <span>
                <a href="{{path('index')}}"
                    class="{% if app.request.attributes.get('_route') == 'index' %}active{% endif %}">Home</a>
            </span>
            <span>
                <a href="{{path('report')}}"
                    class="{% if app.request.attributes.get('_route') == 'report' %}active{% endif %}">Report</a>
            </span>
            <span>
                <a href="{{path('about')}}"
                    class="{% if app.request.attributes.get('_route') == 'about' %}active{% endif %}">About</a>
            </span>
            <span>
                <a href="{{path('api')}}"
                    class="{% if app.request.attributes.get('_route') == 'api' %}active{% endif %}">Api</a>
            </span>
            <span>
                <a href="{{path('cards')}}"
                    class="{% if app.request.attributes.get('_route') == 'cards' %}active{% endif %}">Cards</a>
            </span>
            <span>
                <a href="{{path('game')}}"
                    class="{% if app.request.attributes.get('_route') == 'game' %}active{% endif %}">Game</a>
            </span>
            <span>
                <a href="{{path('luck')}}"
                    class="{% if app.request.attributes.get('_route') == 'luck' %}active{% endif %}">Unlucky</a>
            </span>
            <span>
                <a href="{{path('library')}}"
                    class="{% if app.request.attributes.get('_route') == 'library' %}active{% endif %}">Library</a>
            </span>
            <span>
                <a href="{{path('metrics')}}"
                    class="{% if app.request.attributes.get('_route') == 'metrics' %}active{% endif %}">Metrics</a>
            </span>
        </nav>
    </header>

    {% block body %}{% endblock %}
    {% include 'footer.html.twig' %}
    {% block script %}{% endblock %}
</body>




</html>